body {
  font-family: courier;
  font-size: 25px;
  text-align: center;
  margin-top: 60px;
}

#selector {
  color: #FFCB00;
  background: #FFF8DD;
  font-size: 52px;
}

#typed {
  color: rgba(111,147,220,1);
  background: rgba(111,147,220,0.5);
  font-style: bold;
}

#toDo{
  color: #FF6400;
  background: #FFEBDD;
}

#sixth p{
  color: #FF6666;
  font-style: italic;
}